<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orange Task</title>

    <link rel="icon" href="{{ url_for('static', filename='icon-orange.png') }}">
    <link href="/static/bar_style.css" rel="stylesheet">
    <link rel="stylesheet"
                    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
                    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
                    crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity=
            "sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
    body{
        background-color: #fdf9f2;
        }
    </style>


</head>
<body >
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="navbar-header">
            <img width="15%" src="{{ url_for('static', filename='icon-orange.png') }}"> <a href="" class="navbar-brand">O'range Task</a>
        </div>
            <ul class="nav navbar-nav" >
                {% if current_user.is_authenticated %}
                <li class="nav-item"><a  href="/planer/" class="nav-link fs-5" style="color: #FFA07A" aria-current="page">ежедневник</a></li>
                <li class="nav-item"><a href="/user_page/" class="nav-link fs-5" style="color: #FFA07A">настройки</a></li>

                </ul>
             <ul class="nav navbar-nav navbar-right">
                <li><a class="navbar-brand" href="">{{ current_user.name }}</a></li>
                <li><a  href="/logout" class="nav-link link-success" >Выйти</a></li>
                </ul>
                {% else %}
             <ul class="nav navbar-nav navbar-right">
                <li><a class="btn btn-primary " href="/register">Зарегистрироваться</a></li>
                <li><a class="btn btn-success" href="/login">Войти</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}
<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function () {
        $('nav li a').filter(function () {
            return this.href === location.href;
        }).addClass('active');
    });
</script>
</body>
</html>