{% extends "base.html" %}

{% block content %}
        <form action="" method="POST">
        <h2><button method="POST" type="submit" name="minus"> < </button>
            {{datetime_now}}<button type="submit" name="plus" method="POST"> > </button>
        <button type="submit"  method="POST" name="backnow"> <-- </button></h2>

            <ul type="none">
                {% for item in planer_list %}
                    <li><input type="checkbox" onClick="submit();" name="{{item.id}}" {% if item.status == "выполнено" %}checked {%endif%}>
                        {% if item.status == "выполнено"%}<s>{{item.title}}</s>{% else %} {{item.title}} {% endif%}
                    {{item.category}}
                    {{item.description}}
                    {{item.date_time}}</li>
                {% endfor %}
                </ul>

        </form>
        <a href="/add_task/">Создать задачу</a>
{% endblock %}