{% extends "base.html" %}

{% block content %}
        <form action="" method="POST" >
            <h2>Настройки аккаунта</h2>
            <p>Имя пользователя: <input name="name" type="text" value="{{name}}"></p>
            <p>Электронная почта: <input name="email" type="" value="{{email}}"></p>
            <p>Дата создания: {{date}}</p>
            <button type="submit" class="btn btn-outline-success">Сохранить</button><button class="btn btn-outline-success" name="del" type="submit" onclick="return confirm('Вы действительно хотите удалить пользователя?');">Удалить</button>
            <ul></ul>
        </form>
            <p class="warning">{{message}}</p>

{% endblock %}